.uetgbutton {
    display: inline-block;
    border: 0px;

    min-height: 3.25em;
    max-height: 3.25em;
    min-width: 3.25em;

    margin-top: .5em;
    padding: 0 1em;

    background-color: #54A9EB;
    box-shadow: inset 4px 4px #409DFF, inset -4px -4px #005597;
    transition: border-color 0.25s;

    font-size: 1em;
    font-family: inherit;
    line-height: inherit;
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.05em;

    cursor: pointer;
    user-select: none;
}

.uetgbutton-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em; /* Расстояние между текстом и иконкой */
}
