/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@font-face {
  font-family: "MCFont";
  src: local("minecraft"),
    url("./font/minecraft.ttf") format("truetype");
}

:root {
  color: #ffffff;
  font-family: MCFont;
  line-height: 1.25;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.05em;
  font-size: 1em;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}