.ueframe {
    display: flex;
    justify-content: center;
    
    background-color: #828282;
    box-shadow: inset 8px 8px #A79C96, inset -8px -8px #50474D;
}

.ueframe-content {
    display: inline-grid;
    margin: 32px 32px;
    gap: 1.5em;
}

#ueframe-title {
    font-size: 1.5em;
}